#union_dict_pane {
    all: initial;
    font-size: 12pt;
    display: none;
    position: absolute;
    top: 1ex;
    right: 1ex;
    width: 500px;
    height: 350px;
    margin: 0ex;
    padding: 0ex;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 0.8ex;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-align: left;
    overflow: hidden;
    opacity: 0.98;
    z-index: 2147483647;
}

.popup_size_1#union_dict_pane {
    width: 400px;
    height: 300px;
}
.popup_size_3#union_dict_pane {
    width: 650px;
    height: 455px;
}

#union_dict_pane * {
    font-size: 100%;
    margin: 0ex;
    padding: 0ex;
}

#union_dict_sub_pane {
    width: 100%;
    height: 100%;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
}
