#union_dict_pane {
    all: initial;
    font-size: 11pt;
    display: none;
    position: absolute;
    top: 1ex;
    right: 1ex;
    width: 50ex;
    height: 35ex;
    margin: 0ex;
    padding: 0ex;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 0.8ex;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0.98;
    z-index: 2147483647;
}

#union_dict_pane * {
    font-size: 100%;
    margin: 0ex;
    padding: 0ex;
}

#union_dict_pane p, #union_dict_pane h2 {
    all: initial;
    display: block;
    font-size: 100%;
    margin: 0ex;
    padding: 0ex;
    color: #888888;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

#union_dict_pane p {
    padding-left: 0.6ex;
    text-indent: -0.3ex;
}

#union_dict_pane a, #union_dict_pane a:link {
    color: unset;
    text-decoration: none;
}

#union_dict_pane a:hover {
    text-decoration: underline;
}

#union_dict_pane div.union_dict_article {
    margin: 0.5ex 0.5ex 0.4ex 0.8ex;
}

#union_dict_pane h2.union_dict_header a, #union_dict_pane h2.union_dict_header a:link {
    color: #002266;
    font-weight: bold;
}

#union_dict_pane p.union_dict_message {
    font-size: 90%;
    padding-left: 2ex;
    opacity: 0.8;
}

#union_dict_pane span.union_dict_pron {
    font-size: 85%;
    padding-left: 1ex;
    color: #444444;
    font-weight: normal;
}

#union_dict_pane span.union_dict_pron:before, #union_dict_pane span.union_dict_pron:after {
    content: "/";
    font-size: 90%;
    color: #999999;
}

span.union_dict_tran_word {
    color: #111111;
}

#union_dict_pane span.union_dict_item_label, #union_dict_pane span.union_dict_item_pos, #union_dict_pane span.union_dict_item_mark {
    font-size: 65%;
    display: inline-block;
    border: solid 1px #999999;
    border-radius: 0.5ex;
    min-width: 3.5ex;
    text-align: center;
    margin-right: 0.2ex;
    color: #111111;
    background: #eeeeee;
    opacity: 0.9;
    transform: scaleX(0.9);
}
#union_dict_pane span.union_dict_item_label {
    margin-right: 0ex;
    transform: scaleX(0.8);
    opacity: 0.65;
}
#union_dict_pane span.union_dict_item_label_xa { background: #eeeeee; }
#union_dict_pane span.union_dict_item_label_xz { background: #eeeeee; }
#union_dict_pane span.union_dict_item_label_wn { background: #eeffdd; }
#union_dict_pane span.union_dict_item_label_we { background: #ffddee; }
#union_dict_pane span.union_dict_item_label_wj { background: #ddeeff; }

#union_dict_pane span.union_dict_item_note {
    font-size: 90%;
    margin-right: 0.5ex;
    color: #333333;
}
#union_dict_pane span.union_dict_item_note:before {
    content: "(";
}
#union_dict_pane span.union_dict_item_note:after {
    content: ")";
}

#union_dict_pane span.union_dict_item_text {
    margin-left: 0.2ex;
    color: #111111;
}

#union_dict_pane span.union_dict_item_omit_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#union_dict_pane div.union_dict_close_button {
    font-size: 80%;
    position: absolute;
    top: 0.5ex;
    right: 0.5ex;
    font-size: 70%;
    border: solid 1px #dddddd;
    border-radius: 0.8ex;
    width: 3ex;
    text-align: center;
    color: #888888;
    opacity: 0.5;
    cursor: pointer;
}
